html,body {
    --text_color: black;
    --dark_tx_color: white;
    --light_bg: white;
    --dark_bg: black;
    --foot_color: linear-gradient(to bottom, rgba(112, 0, 160, 1) 0%,rgba(160, 0, 155, 1) 100%);
    --unselected_menu: #aaaaaa;
    --background: linear-gradient(to bottom, rgba(18, 18, 21, 1) 0%,rgba(38, 38, 41, 1) 100%);
    --logo_color: rgba(255, 255, 255, 1);

    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    background: var(--background);
    overflow-x: hidden;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    position: relative;
    top: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); 
    padding: 0px;
    justify-content: space-between;
}

.logo {
    
    font-size: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    color: var(--dark_tx_color);
    align-items: start;
    margin-left: 60px;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.container_main {
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.container_main h2 {
    color: var(--dark_tx_color);
    font-family: Roboto;
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
}

.pic {
    width: 50%;
    text-align: left;
}

.webpage {
    width: 50%;
    text-align: right;

}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.menu ul li {
    margin-left: 60px;
}

.menu ul li a {
    font-family: Roboto;
    text-decoration: none;
    color: var(--unselected_menu);
    font-size: 24px;
    font-weight: 400;
}

.menu ul li a.active {
    color: var(--dark_tx_color);
    font-weight: 700;
}
  
@media (max-width: 1440px), (max-height: 1024px) {
    .kezdolap {
        width: auto; /* Full viewport width */
        height: auto;
        max-height: 100vh; /* Do not exceed viewport height */
    }
}

.container_index {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.ceginfo_box {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    flex-direction: column;
    padding: 50px;
}

.ceginfo_pic {
    width: auto;
    max-width: auto;
    height: 100%;
    max-height: 750px;
    align-content: end;
    padding-left: 50px;
    padding-right: 50px;
}

.ceginfo_vision {
    width: 100%;
    height: auto;
    max-height: auto;
    color: var(--dark_tx_color);
    font-family: Roboto;
    font-size: 120px;
    line-height: 1.2;
    padding-top: 60px;
    margin-left: -200px;
    display: flex;
    position: relative;
    z-index: 2;
}

.feedback_head {
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-color: var(--light_bg);
    color: var(--light_tx_color);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
}

.feedback-container {
    background-color: var(--light_bg);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 50px;
    align-items: start;
    max-width: 100%;
    position:static;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    gap: 20px;
    padding: 50px;
}

.feedback-item0 {
    color: var(--dark_tx_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

.feedback-item0 img {
    border-radius: 500px;
}

.feedback-item1 {
    font-family: Roboto;
    color: var(--light_tx_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; 
    font-weight: 400;
    line-height: 1.2;
    font-style: italic;
    letter-spacing: 0;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 150px;
}

.feedback-item2 {
    font-family: Roboto;
    color: #7000a0;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    text-align: right;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.intro {
    width: auto;
    height: auto;
    max-height: auto;
    color: var(--dark_tx_color);
    font-family: Roboto;
    font-size: 24px;
    line-height: 1.2;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 50px;
    align-items: start;
    max-width: 100%;
    position:static;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grid-item0 {
    color: var(--dark_tx_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

.grid-item1 {
    font-family: Roboto;
    color: var(--dark_tx_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
}

.grid-item2 {
    font-family: Roboto;
    color: var(--dark_tx_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.acme {
    color: var(--logo_color);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: pre;
    text-rendering: geometricPrecision;
    text-decoration: none;
    letter-spacing: 15px;
    font-size: 64px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.divider {
    width: 1px;
    height: 200px;
    background-color: var(--dark_tx_color);
    border-radius: 0px;
    flex-shrink: 0;
}

.infobox {
    width: auto;
    gap: 24px;
    margin: 0;
    text-align: left;

    position: relative; /* Position relative to position the pseudo-element */
    display: inline-block; /* Make the element inline-block to fit content */
    font-size: 24px;
    color: #333;
    cursor: pointer;
    padding-bottom: 5px; /* Space for the hover line */
    display: flex;
    align-items: center;
    justify-content: center;
}

.infobox a {
    height: 65px;
    line-height: 1.2;
    color: rgba(170, 170, 170, 1);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: pre;
    text-rendering: geometricPrecision;
    caret-color: rgba(170, 170, 170, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 54px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    position: relative;
    display: flex; /* Use flexbox to align text properly */
    flex-direction: column; /* Ensure links are stacked vertically */
    align-items: flex-start; 
   
}

.infobox ul {
    list-style-type: none;
}

.infobox li {
    margin: 10px 0;
}

.infobox a::after {
    content: ''; /* Required to create a pseudo-element */
    position: absolute; /* Position the pseudo-element relative to the parent */
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: rgba(170, 170, 170, 1);
    transform: scaleX(0); /* Initially hide the underline */
    transition: transform 0.4s ease; /* Smooth transition for the hover effect */
    transform-origin: bottom right; /* Line animation starts from the right */
}

.infobox a:hover::after {
    transform: scaleX(1); /* Show the underline on hover */
    transform-origin: bottom left; /* Line expands from the left */
}

.kapcsolat_box {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    flex-direction: column;
    padding: 50px;
}

.kapcsolat_box_left {
    width: auto;
    height: auto;
    max-height: auto;
    color: var(--dark_tx_color);
    font-family: Roboto;
    font-size: 24px;
    line-height: 1.2;
    font-style: italic;
    padding-left: 50px;
}

.kapcsolat_box_right {
    width: auto;
    max-width: auto;
    height: 100%;
    max-height: 750px;
    align-content: end;
    padding-left: 150px;
    padding-right: 50px;
}


.kapcsolat_right iframe {
    height: 100%;
    border: 0;
    border-radius: 8px;
}

.kapcsolat_box p {
    flex: 1;
    position: static;
    width: auto;
    color: var(--dark_tx_color);
    font-family: Roboto;
    font-size: 24 px;
    font-weight: 400;
    align-items: center;

}

.kapcsolat_box ul {
    color: var(--dark_tx_color);


}

.form-container {
    height: auto;
    background-color: var(--light_bg);
    color: var(--text_color);
    padding: 100px;

}

.forminfo {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

label {
    font-family: Roboto;
    font-size: 24px;
    display:block;
    max-width: 180px;
    text-align: left;
    font-weight: 700;
    padding-bottom: 20px;
}

input{
    width: 360px;
    height: 50px;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #7000A0;
    box-sizing: border-box;
    background-color: #888888;
    align-items: start;
    color: var(--dark_tx_color);
    font-size: 24px;
}

textarea {
    height: 120px;
    width: 100%;
    border-bottom: 3px solid #7000A0;
    box-sizing: border-box;
    background-color: #888888;;
    color: var(--dark_tx_color);
    font-size: 18px;
}

.messagebox {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

input[type="submit"] {
    width: auto;
    height: auto;
    text-align: center;
    background: var(--foot_color);
    color: var(--dark_tx_color);
    border: none;
    font-size: 24px;
    letter-spacing: 4px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    padding: 24px 100px 24px 100px;
}

.main {
    width: 100%;
}


footer {
    max-height: 300px;
    max-width: 100%;
    background: var(--foot_color);
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 200px;
    text-align: center;
    color: var(--logo_color);
    font-family: "Roboto";
    font-style: normal;
    font-size: 120px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 200px;
    text-decoration: none;
    text-transform: none;
}
